
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    padding: 30px 40px;
    color: rgb(159, 103, 103);
    text-align: center;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}



#main{
    width: 1000px;
    background-color: rgb(250, 249, 248);
    padding: 20px;
} 

input{
    border: none;
    width:75%;
    padding: 10px; 
    font-size: 16px;
}

#checkbox-left
{
    text-align: left;
}

.flex-container {
    display: flex;
  }


#addBtn{ 
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 };

#footer{
        color: #777;
        padding: 10px 15px;
        height: 20px;
        text-align: center;
        border-top: 1px solid #e6e6e6;
}

.footer {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.completeAllButton{

}

.toggle-all {
	text-align: center;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
}

.toggle-all + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	/* top: -52px; */
	left: -13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggle-all + label:before {
	content: 'â¯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
	color: #737373;
}

/*
.selected{
    padding: 10px;
    width: 25%;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius:9px;

}

.checkbox-inline{
    display:inline; 
    line-height:24px
}




ul,li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: floralwhite;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li :nth-child(odd){
    background-color: #f9f9f9;
}

ul li:hover {
    background-attachment: #ddd;
}

.list{
    margin: 15px; 
}

.list > li {
    background-color: rgb(251, 243, 228);
    padding: 5px;
    margin-bottom: 2px;
} */